<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Certificación</h1>
            <br>
            <button (click)="regresarFiltro()" nbButton status="warning" class="btn-flotante">
          <i class="fas fa-arrow-alt-circle-left"></i>
          Regresar
        </button>

        </div>

    </div>

</div>
<br>
<div class="font-black" id="pdf">
    <div class="card card-margin">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <H1>Información General De Certificaciones De Cumplimiento</H1>
                </div>
                <div class="col-3">
                </div>
            </div>
            <!-- Div para los datos del contrato   -->
            <div class="row">
                <div class="col-4">
                    <p>Valor del contrato</p>
                    <div class="col text-center">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Valor Contrato</mat-label>
                                <mat-select [(ngModel)]="valor_Contrato">
                                    <mat-option value="1">SI</mat-option>
                                    <mat-option value="0">NO</mat-option>

                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>

                </div>

                <div class="col-4">
                    <p>Duración del contrato(meses)</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Duración del contrato(meses)</mat-label>
                                    <mat-select [(ngModel)]="duracion_contrato">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <p>Fecha de inicio</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de inicio</mat-label>
                                    <mat-select [(value)]="fecha_Inicio">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <p>Fecha de Finalización</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de finalización</mat-label>
                                    <mat-select [(value)]="fecha_final">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-4" *ngIf="this.notaEvaluacionManual== true ">
                    <p>Evaluacion</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Calificación</mat-label>
                                    <mat-select [(ngModel)]="calificacionManual">
                                        <mat-option value="Excelente">Excelente</mat-option>
                                        <mat-option value="Bueno">Bueno</mat-option>
                                        <mat-option value="Malo">Malo</mat-option>


                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <p>Observaciones</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Observaciones</mat-label>
                                    <mat-select [(ngModel)]="observaciones">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- <div class="col-4" *ngIf="this.rol=='ASISTENTE_COMPRAS'||this.rol=='ORDENADOR_DEL_GASTO' ">
                    <p>Novedades.</p>
                    <div class="col text-center">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Novedades</mat-label>
                                <mat-select multiple required [(ngModel)]="listaNovedades">

                                    <mat-option style="text-transform: uppercase;" value="cesion">Cesión</mat-option>
                                    <mat-option style="text-transform: uppercase;" value="adicion">Adición</mat-option>
                                    <mat-option style="text-transform: uppercase;" value="prorroga">Prórroga</mat-option>
                                    <mat-option style="text-transform: uppercase;" value="suspension">Suspensión</mat-option>
                                    <mat-option style="text-transform: uppercase;" value="terminacionLiquidacion">Terminación y Liquidación</mat-option>
                                    <mat-option style="text-transform: uppercase;" value="observaciones">Observaciones</mat-option>


                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>

                </div> -->





            </div>
        </div>
    </div>

</div>
<div class="font-black" id="novedad" *ngIf="fecha_Inicio=='1'">
    <div class="card card-margin">
        <div class="card-body">
            <br>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Fecha De Inicio</label>
                <div class="col-10">
                    <input class="form-control" type="date" [(ngModel)]="fechaInicio" required>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="font-black" id="novedad" *ngIf="fecha_final=='1'">
    <div class="card card-margin">
        <div class="card-body">
            <br>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Fecha De Finalización</label>
                <div class="col-10">
                    <input class="form-control" type="date" [(ngModel)]="fechaFin" required>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="font-black" id="novedad" *ngIf="observaciones === '1'">
    <div class="card card-margin">
        <div class="card-body">
            <br>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">Observaciones</label>
                <div class="col-10">
                    <input class="form-control" type="text" [(ngModel)]="texto_observacion" required>
                </div>
            </div>

        </div>
    </div>

</div>

<br>

<div class="col text-center">
    <button (click)="crearPdf()" nbButton status="download" class="btn-flotante">
        <i class="fas fa-file-alt"></i>
        Crear Certificado
    </button>



</div>
