<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col-10 col-xs-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-title"><h1>{{titulo}}</h1></div>
        <div class="card-body">
          <form [formGroup]="formularioCertificacionesDve" (ngSubmit)="submitFormularioDve()">
            <div class="row justify-content-center">
              <div class="col-md-6 col-sm-12 col-xxl-3">
                <label for="nombre" class="texto-negro text-negrilla">Docente</label>
                <p class="texto-negro" name="nombre">{{nombreDocente}}</p>
              </div>
              <div class="col-md-6 col-sm-12 col-xxl-2">
                <label for="nombre" class="texto-negro text-negrilla">N° de documento</label>
                <p class="texto-negro" name="nombre">{{documentoDocente}}</p>
              </div>
              <div class="col-md-6 col-sm-12 col-xxl-4 d-flex align-items-center justify-content-center">
                <span class="texto-negro p-2 text-negrilla">Ingresa el año y periodo</span>
                <mat-form-field class="m-0">
                  <mat-label>Selecciona año y periodo</mat-label>
                  <mat-select formControlName="anioInicio">
                    <mat-option *ngFor="let anioPeriodo of getAniosYPeriodos()" [value]="anioPeriodo">
                      {{anioPeriodo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-sm-12 col-xxl-3 d-flex align-items-center justify-content-center">
                <span class="texto-negro p-2 text-negrilla">Hasta</span>
                <mat-form-field class="m-0">
                  <mat-label>Selecciona año y periodo</mat-label>
                  <mat-select formControlName="anioFin">
                    <mat-option *ngFor="let anioPeriodo of getAniosYPeriodos()" [value]="anioPeriodo">
                      {{anioPeriodo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-4 col-sm-12 col-xxl-4 col-xl-5 d-flex align-items-center justify-content-center">
                <div>
                  <span class="p-2">INCLUIR INFORMACION DE SALARIO</span>
                  <mat-checkbox formControlName="incluirSalario"></mat-checkbox>
                </div>
              </div>
              <!-- <div class="col-md-4 col-sm-12 col-xxl-3 col-xl-3">
                <mat-form-field>
                  <mat-label>Tipo de vinculacion</mat-label>
                  <mat-select formControlName="tipoVinculacion">
                    <mat-option *ngFor="let tipo of getVinculacion()" [value]="tipo">
                      {{tipo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <div class="col-md-4 col-sm-12 col-xxl-3 col-xl-3">
                <button nbButton type="submit">CREAR CERTIFICADO</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>