<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Certificación</h1>
            <br>
            <button (click)="regresarFiltro()" nbButton status="warning" class="btn-flotante">
                <i class="fas fa-arrow-alt-circle-left"></i>
                Regresar
            </button>

        </div>

    </div>

</div>
<br>
<div class="font-black" id="pdf">
    <div class="card card-margin">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <H1>Información General De Certificaciones Contractuales</H1>
                </div>
                <div class="col-3">
                </div>
            </div>
            <!-- Div para los datos del contrato   -->
            <div class="row">
                <div class="col-4" *ngIf="this.rol=='ORDENADOR_DEL_GASTO'||this.rol=='ASISTENTE_JURIDICA'">
                    <p>Novedades.</p>
                    <div class="col text-center">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Novedades</mat-label>
                                <mat-select multiple required [(ngModel)]="novedad">
                                    <mat-option *ngFor="let novedades of datosNovedades ; let i = index"
                                        [value]="novedades">{{novedades}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>

                </div>


                <div class="col-4">
                    <p>Valor del contrato</p>
                    <div class="col text-center">
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Valor Contrato</mat-label>
                                <mat-select [(ngModel)]="valor_contrato">
                                    <mat-option value="1">SI</mat-option>
                                    <mat-option value="0">NO</mat-option>

                                </mat-select>
                            </mat-form-field>

                        </div>

                    </div>

                </div>

                <div class="col-4">
                    <p>Duración del contrato(meses)</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Duración del contrato(meses)</mat-label>
                                    <mat-select [(ngModel)]="duracion_contrato">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <p>Fecha de inicio</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de inicio</mat-label>
                                    <mat-select [(ngModel)]="fecha_Inicio">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <p>Fecha de Finalización</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de finalización</mat-label>
                                    <mat-select [(ngModel)]="fecha_final">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <p>OTROS</p>
                    <div class="col text-center">
                        <div class="col text-center">
                            <div>
                                <mat-form-field appearance="fill">
                                    <mat-label>OTROS</mat-label>
                                    <mat-select [(ngModel)]="otros_datos">
                                        <mat-option value="1">SI</mat-option>
                                        <mat-option value="0">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <br>

</div>
<div class="font-black" id="observacion" *ngIf="otros_datos=='1'">
    <div class="card card-margin">
        <div class="card-body">
            <br>

            <div class="form-group row">
                <label for="example-date-input" class="col-2 col-form-label">OTROS</label>
                <div class="col-10">
                    <input class="form-control" type="text" [(ngModel)]="otrosDatos" placeholder="Observación">
                </div>
            </div>

        </div>
    </div>

</div>


<div class="col text-center">
    <button (click)="crearPdf()" nbButton status="download" class="btn-flotante">

        <i class="fas fa-file-alt"></i>
        Crear Certificado
    </button>

</div>