<div class="container">
    <div class="col-xl ">

        <div *ngIf="!componenteVer && !componenteRealizar && !componenteRealizarCertificacion">
            <ngx-filtro *ngIf="!!permisoFiltrarContratos" (dataResponse)="guardarDatosConsulta($event)" [nombreTitulo]="titulo">
            </ngx-filtro>
            <ngx-certificacion *ngIf="!permisoFiltrarContratos" (dataResponse)="guardarDatosConsulta($event)" [nombreTitulo]="titulo">
            </ngx-certificacion>
            <ngx-tabla-busqueda-certificacion [dataContratos]="data" (dataView)="verCertificacion($event)"
                (dataToDo)="relizarCertificacion($event)" (dataToDo2)="relizarCertificacionSinNovedad($event)">
            </ngx-tabla-busqueda-certificacion>
        </div>
        
        <ngx-crear-certificacion-sin-novedad *ngIf="!!componenteRealizarCertificacion && !!permisoCumplimiento"
            [dataContrato]="datosContratoAEvaluar" (volverFiltro)="habilitarFiltro($event)">
        </ngx-crear-certificacion-sin-novedad>
        
        <ngx-crear-certificacion *ngIf="!!componenteRealizar && !!permisoContractual" [dataContrato]="datosContratoAEvaluar"
            (volverFiltro)="habilitarFiltro($event)">
        </ngx-crear-certificacion>
        
        <ngx-ver-certificacion *ngIf="!!componenteVer" [dataContrato]="datosContratoAVer" [rol]="rolActual"
            (volverFiltro)="habilitarFiltro($event)">
        </ngx-ver-certificacion>

    </div>

</div>
